<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bleeds</title>
</head>
<body>
    <h3>Previous Bleeds</h3>
    <h4>Bleed Data:</h4>
    <p>If data is null, then no bleeds have been registered.</p>
    <p><%= data %></p>
    <a href="/register_bleed">Register a New Bleed</a>
    <a href="/login">Sign Out</a>
</body>
</html>